<div class="content-box"> 
        <div class="content">
                <table class="myDataTable striped" data-path="json">
                        <thead>
                                <tr> 
                                        <th abbr="rank">Rank</th>
                                        <th abbr="gravatar">Gravatar</th>
                                        <th abbr="name">User Name</th>
                                        <th abbr="current">Current</th>
                                        <th abbr="projected">Projected</th>
                                </tr>
                        </thead>
                        <tbody>
                        </tbody>
                </table>
        </div>
</div>
