<div id="footer">
        <div class="content">
                <div>
                        &copy; 2010-2017 SlothNinja. Powered by Google App Engine.
                </div> 
                <div> 
                        All logos and trademarks are property of their respective owner.
                </div>
        </div>
</div>
