<div class="game-table"> 
        <div class="heading">
                <div>Recruiting Games: {{$.Type}}</div> 
        </div>
        <div class="content-box"> 
                <div class="content">
                        <table class="myDataTable striped" data-path="json">
                                <thead>
                                        <tr> 
                                                <th abbr="id">ID</th>
                                                <th abbr="title">Title</th>
                                                <th abbr="type">Type</th>
                                                <th abbr="creator">Creator</th>
                                                <th abbr="numPlayers">Num Players</th>
                                                <th abbr="players">Players</th>
                                                <th abbr="lastUpdated">Last Update</th>
                                                <th abbr="public">Public / Private</th>
                                                <th abbr="actions">Actions</th>
                                        </tr>
                                </thead>
                                <tbody>
                                </tbody>
                        </table>
                </div>
        </div>
</div>
