{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
<div id="dialog" title="Announce Merger">
        <div class="dialog-content" style="width:260px">
                <p>Click on second company to merge in the below players table or reset turn.</p>
        </div>
</div>
