{{$game := $.Game}}
<div id="areas">
        <div class="container">
                {{range $area := $game.Areas }}
                {{template "indonesia/area" $area}}
                {{end}}
        </div>
</div>
