{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
<div id="dialog" title="Select Destination">
        <div class="dialog-content" style="width:260px">
                <p>Select an adjacent ship or city for good.</p>
        </div>
</div>
