{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
{{$company := $game.SelectedCompany}}
<div id="dialog" title="Select Sea Area">
        <div class="dialog-content" style="width:260px">
                <p>Select sea area adjacent to or having a ship of the {{$company.HTML}} company.</p>
                <p class="top-padding">
                You may instead cease further expansion via the below button.
                </p>
                <form class="myForm top-padding">
                        <input name="action" type="hidden" value="stop-expanding" />
                        <div class="center">
                                <input type="submit" value="Stop Expanding" class="mybutton" />
                        </div>
                </form>
        </div>
</div>
