{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
<div id="dialog" title="Select Ship">
        <div class="dialog-content" style="width:260px">
                <p>Select a ship adjacent to production area.</p>
        </div>
</div>
