<table class="myDataTable striped" data-path="ratings/json" data-paging="false">
        <thead>
                <tr> 
                        <th abbr="type">Game</th>
                        <th abbr="current">Current GLO</th>
                        <th abbr="projected">Projected GLO</th>
                </tr>
        </thead>
        <tbody>
        </tbody>
</table>
