<div id="main-content"> 
        <div class="welcome-message"> 
                <div class="heading"> 
                        <div>Welcome to SlothNinja Games</div> 
                </div> 
                <div class="content"> 
                        <div> 
                                SlothNinja Games is a play-by-web (PBW) site that permits registered members to play
                                boardgames with other members via the Internet, in a turn-based manner.
                                In particular, the site provides a graphical interface where players can see the
                                current game state and execute their actions.  The site keeps track of the game
                                state, enforces legal moves, and sends optional email notifications to players 
                                when it is their turn to move.  People need to be registered in order to
                                play.  Registration is free, but requires a Google Account.
                        </div> 
                        <div>
                                As a result of the PBW nature of the site, games typically take days, weeks, or even
                                months to complete depending on how frequently players take their turns.  If you are
                                expecting to play an Open Game to completion in one sitting, you are likely to be
                                disappointed.  While the site does not enforce any time limits, games that are
                                inactive for more 30 days will be marked as abandoned.  Moreover, there is a general
                                expectation among the community that players will make at least one move each day.
                                If you plan to consistently take longer than a day per move, I suggest
                                creating a game and clearly indicating your desired playing speed in the title.
                        </div>
                </div>
        </div> 
</div> 
<div class="available-games"> 
        <div class="content" style> 
                <div class="pull-left" style="width:220px;height:220px;padding:90px 10px"> 
                        <div class="center">
                                <img height="200" alt="After The Flood" src="/images/atf/ATF-box.jpg" width="143" />
                        </div> 
                        <div class="center"> 
                                Rules (pdf)
                                <a href="rules/after-the-flood-eng.pdf">EN</a> 
                                <a href="rules/after-the-flood-deu.pdf">DE</a> 
                        </div> 
                </div>
                <div class="pull-left" style="width:220px;height:220px;padding:20px 10px">
                        <div style="height:30px"></div>
                        <div class="center">
                                <img alt="Confucius-box" height="128" src="/images/confucius/confucius-box.jpg" width="200" />
                        </div>
                        <div class="center">
                                Rules (pdf)
                                <a href="rules/confucius-rules.pdf">EN</a>
                        </div>
                        <div style="height:30px"></div>
                        <div class="center">
                                <img alt="Indonesia-box" height="128" src="/images/indonesia/indonesia-box.jpg" width="200" />
                        </div>
                        <div class="center">
                                Rules (pdf)
                                <a href="rules/indonesia-rules.pdf">EN</a>
                        </div>
                </div>
                <div class="pull-left" style="width:220px;height:220px;padding:90px 10px">
                        <div style="height:5px"></div>
                        <div class="center">
                                <img alt="Guild Of Thieves Box" height="180" src="/images/got/got-box.jpg" width="180"/>
                        </div>
                        <div class="center">
                                Rules (pdf)
                                <a href="rules/got-rules.pdf">EN</a>
                        </div>
                </div> 
                <div class="pull-left" style="width:220px;height:220px;padding:90px 10px"> 
                        <div class="center">
                                <img height="200" alt="Tammany Hall" src="/images/tammany/tammany-box.jpg" width="141" />
                        </div> 
                        <div> 
                                Rules (pdf)
                                <a href="rules/tammany-rules.pdf">EN</a> 
                        </div> 
                </div> 
        </div> 
</div> 
</div>
