{{$g := $.Game}}
{{$cu := $.CUser}}
{{with $cp := $g.CurrentPlayer}}
        {{if $g.CanPlaceThief $cu $cp}}
                {{template "got/place_thief_dialog" $}}
        {{end}}
        {{if $g.CanSelectCard $cu $cp}}
                {{template "got/show_hand_dialog" $}}
        {{end}}
{{end}}
