{{$p := .p}}
{{$cu := .cu}}
{{$g := .g}}

<tr id="player-row-{{$p.ID}}">
        <td class="player">
                <div class="gravatar">
                        {{$g.GravatarFor $p $cu}}
                </div>
                <div>
                        {{$g.PlayerLinkByID $cu $p.ID}}
                </div>
                {{if $cu.IsAdmin}}
                <div id="admin-player-row-{{$p.ID}}" class="mybutton top-padding clickable">
                        Admin Player
                </div>
                {{end}}
        </td>
        <td class="last-action">
                {{template "shared/last_actions_list2" data "g" $g "p" $p}}
        </td>
        <td class="score">
                {{template "got/player_score" $p}}
        </td>
        <td>
                {{template "got/player_hand" data "g" $g "p" $p "cu" $cu}}
        </td>
        <td>
                {{template "got/player_draw" $p}}
        </td>
        <td>
                {{template "got/player_discard" $p}}
        </td>
</tr>
