{{$g := $.Game}}
{{$cu := $.CUser}}
{{$cp := $g.CurrentPlayer}}
<div>
        {{template "got/areas" $}}
        {{if equal $g.Stepped 1}}
        {{template "shared/flashbox" .}}
        {{template "shared/gamelog2" $}}
        {{template "shared/last_actions_list2" data "g" $g "p" $cp}}
        {{template "got/areas" $}}
        {{template "got/player_hand" data "g" $g "p" $cp "cu" $cu}}
        {{template "got/player_discard" $cp}}
        {{template "got/player_draw" $cp}}
        {{template "got/player_score" $cp}}
        {{end}}
</div>
