<div class="dialog-content">
        <div>Select second area from which to fire artillery units, or click button below to forego firing from a second area.</div>
        <button class="top-padding" data-bind="jqButton: true, click: function() { $root.put({ 'action': 'select-area', 'target': 'none'})}">
                None
        </button>
</div>
