#turn-track {
        position:absolute;
        top:784px;
        left:42px;
}

#turn-2 {
        position:relative;
        top:50px;
}

#turn-3 {
        position:relative;
        top:100px;
}

#turn-4 {
        position:relative;
        top:148px;
}

#turn-5 {
        position:relative;
        top:198px;
}
