{{$g := $.Game}}
{{$cu := $.CUser}}
{{$office := $.Office}}
<div id="dialog" title="Assign {{$office}}">
        <div class="dialog-content">
                {{range $index, $p := $g.Players}}
                        {{if not $p.HasOffice}}
                                <div>&nbsp;</div>
                                <form class="myForm">
                                        <input name="action" type="hidden" value="assign-office" />
                                        <input name="area" type="hidden" value="{{$office.IDString}}" />
                                        <input name="pid" type="hidden" value="{{$p.ID}}" />
                                        <div class="mybutton submit">
                                                <div class="icon">
                                                        {{$g.BossImage $p $cu}}
                                                </div>
                                                <div class="text">
                                                        {{$p.Name}}
                                                </div>
                                        </div>
                                </form>
                        {{end}}
                {{end}}
        </div>
</div>
