{{$g := $.Game}}
{{$cu := $.CUser}}
<div id="nationality-counts">
        {{range $n := $g.Nationalities}}
        <div id="{{$n.LString}}-count">
                <div class="content">
                        {{range $p := $g.Players}}
                        {{with $count := $g.ControlledBy $p $n}}
                        <div class="player-{{$p.ID}}">
                                {{$g.BossImage $p $cu}}
                                <div class="text {{$g.Color $p $cu}}">{{$count}}</div>
                        </div>
                        {{end}}
                        {{end}}
                </div>
        </div>
        {{end}}
</div>
