{{$g := $.Game}}
{{$cu := $.CUser}}
<div id="city-offices">
        <div class="content">
                {{range $index, $office := $g.AssignableOffices}}
                <div id={{$office.IDString}}>
                        {{with $p := $g.PlayerByOffice $office}}
                        <div class="content">
                                {{$g.BossImage $p $cu}}
                        </div>
                        {{end}}
                </div>
                {{end}}
        </div>
</div>
