{{$g := $.Game}}
{{$cu := $.CUser}}
{{with $p := $.Resource.CurrentPlayer}}
<div>
        <div class="ward-{{$.Ward}}">
                <div class="left-column">
                        <div class="place-boss">
                                <div class="mybutton place-piece">
                                        <div class="text">
                                                Place
                                        </div>
                                        <div class="icon">
                                                {{$g.BossImage $p $cu}}
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="right-column">
                        <div class="mybutton undo">
                                Undo Turn
                        </div>
                </div>
        </div>
</div>
{{end}}
