{{$g := $.Game}}
{{$cp := $g.CurrentPlayer}}
{{$w := $.Ward}}
{{$ctx := $.Context}}
{{$cu := $.CUser}}
<div>
{{if $w}}
{{template "tammany/ward" data "g" $g "w" $w}}
{{end}}
{{template "shared/flashbox" .}}
{{template "shared/gamelog4" $}}
{{template "shared/last_actions_list4" data "g" $g "p" $cp "ctx" $ctx "cu" $.CUser}}
{{template "tammany/castle_garden" .}}
{{template "tammany/favor_chip_table" data "g" $g "p" $cp "cu" $cu }}
{{template "tammany/nationality_counts" .}}
</div>
