{{$g := $.Game}}
{{$cp := $g.CurrentPlayer}}
{{$w := $.Ward}}
{{$cu := $.CUser}}
<div>
{{template "shared/flashbox" .}}
{{template "shared/gamelog4" $}}
{{template "shared/last_actions_list4" data "g" $g "p" $cp "ctx" $.Context "cu" $.CUser}}
{{template "tammany/favor_chip_table" data "g" $g "p" $cp "cu" $cu}}
{{template "tammany/ward" data "g" $g "cu" $cu "w" $w}}
{{template "tammany/nationality_counts" $}}
</div>
