@mixin move-unit-from-entry-box-action { 
	#move-unit-from-entry-box {
		@include prepend(1);
		@include prepend-top(1em);
		fieldset {
			height:16.5em;
		}
		img {
			height:30px;
			width:30px;
		}
		#left-column {
			@include column(5);
			@include append(1);
			@include prepend-top;
			text-align:right;
			select {
				width:100px;
			}
			label {
				font-weight:bold;
			}
		}
		#right-column {
			@include column(13, true);
			fieldset {
				height:12em;
			}
		}
	}
}