{{with $player := $.Resource.CurrentPlayer}}
<div>
        <div class="ward-{{$.Ward}}">
                <div class="left-column">
                        <div class="mybutton undo">
                                Undo Turn
                        </div>
                </div>
                <div class="right-column">
                        <div class="mybutton finish">
                                Finish Turn
                        </div>
                </div>
        </div>
</div>
{{end}}
