@mixin available-actions-box {
        .available-actions-box {
                @include column(13, true);
                @include prepend-top(1em);
                margin-left: 20px;
                fieldset {
                        height:10em;
                }
                .first-action-set {
                        @include column(3);
                }
                .second-action-set {
                        @include column(3);
                }
                .third-action-set {
                        @include column(3);
                }
                .fourth-action-set {
                        @include column(3, true);
                }
                .button-set {
                        text-align:center;
                        @include prepend-top(3em);
                        input#finish-turn {
                                position:relative;
                                left:-60px;
                        }
                        input#undo-turn {
                                position:relative;
                                left:60px;
                                top:-2em;
                        }
                }
        }
}
