{{$game := $.Game}}
<div id="dialog" title="Undo or Finish Turn">
        <div class="dialog-content" style="height:2em;width:265px">
                <p class="bottom-padding">Undo or finish turn.</p>
                <div data-bind="jqButton: true, click: function() { put({'action' : 'undo'}) }">Undo</div>
                <div data-bind="jqButton: true, click: function() { put({'action' : 'finish'}) }">Finish</div>
        </div>
</div>
