<script type="text/javascript">

//if (dialogData.length > 0) {
//        delete dialogData.content;
//}
//
//var dialogViewModel = ko.mapping.fromJS(dialogData || {initialized: false, autoOpen: false, isOpen: false} );
//if ($("#dialog").length > 0) {
//        ko.applyBindings(dialogViewModel, $("#dialog")[0]);
//} else {
//        if (!$.isEmptyObject(dialogData)) {
//                $("#board").append("<div id='dialog' data-bind='jqDialog: dialogViewModel, dialogVisible: true'>" + dialogData.content + "</div>");
//                ko.applyBindings(dialogViewModel, $("#dialog")[0]);
//
//        }
//}
</script>
