<div id="flash-box">
        <div>
{{/*
                <div data-bind="visible: notices() && notices().length > 0">
                        <div class="notice">
                                <ul data-bind="foreach: notices">
                                        <li data-bind="html: $data"></li>
                                </ul>
                        </div>
                </div>
                <div data-bind="visible: errors() && errors().length > 0">
                        <div class="error">
                                <ul data-bind="foreach: errors">
                                        <li data-bind="html: $data"></li>
                                </ul>
                        </div>
                </div>
*/}}
        </div>
</div>
