{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
<div id="tabs-pass">
        <div class="row" style="height:45px;width:270px">
                <form class="myForm" style="float:left">
                        <input name="action" type="hidden" value="pass" />
                        <input name="json" type="hidden" value="true" />
                        <div class="mybutton submit">
                                Pass
                        </div>
                </form>
        </div>
</div>
