{{$g := $.Game}}
{{$cp := $g.CurrentPlayer}}
{{$ctx := $.Context}}
<div>
        {{template "shared/flashbox" .}}
        {{template "shared/gamelog2" $}}
        {{template "shared/last_actions_list2" data "g" $g "p" $cp}}
        {{template "got/areas" $}}
        {{template "got/player_hand" data "g" $g "p" $cp "ctx" $ctx}}
        {{template "got/player_discard" $cp}}
        {{template "got/player_draw" $cp}}
        {{template "got/player_score" $cp}}
        {{with $bp := $g.BumpedPlayer}}
        {{template "got/player_score" $bp}}
        {{end}}
</div>
