{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
{{$area := $game.SelectedArea}}
<div id="dialog" title="Place Thief">
        <div class="dialog-content" style="width:150px">
                <p>Click on a spot to place a thief.</p>
        </div>
</div>
