{{$g := $.Game}}
{{$cp := $g.CurrentPlayer}}
<div id="tabs-play-card">
        <div class="dialog-content" style="width:260px">
                <p>Select Card To Play.</p>
                {{$g.PlayCardDisplayFor $cp}}
        </div>
</div>
