{{$g := .g}}
{{$cu := .cu}}

{{range $key, $space := $g.ActionSpaces}}
<div id="{{$space.Name}}">
        <div class="content">
                {{range $pid, $cubes := $space.Cubes}}
                {{if $cubes}}
                <div class="action-cube-{{$pid}}">
                        <div class="content">
                                {{with $p := $g.PlayerByID $pid}}
                                <img src="/images/confucius/{{$g.Color $p $cu}}-action-cube-shadowed.png" alt="{{.Color}} Action Cube" />
                                <div class="text {{$g.TextColor $p $cu}}">
                                        {{$cubes}}
                                </div>
                                {{end}}
                        </div>
                </div>
                {{end}}
                {{end}}
        </div>
</div>
{{end}}
