{{$g := .g}}
{{$cu := .cu}}

<div id="bought-junks">
        <div class="content">
                {{range $index, $p := $g.Players}}
                {{if $p.Junks}}
                <div class="{{$g.Color $p $cu}}-junks">
                        <img src="/images/confucius/junk.png" alt="Junk" />
                        <div class="text">
                                {{$p.Junks}}
                        </div>
                </div>
                {{end}}
                {{end}}
        </div>
</div>
