<div id="main-content">
        <div class="game-table"> 
                <div class="heading">
                        <div>Completed Confucius Games</div>
                </div>
                <div class="content-box">
                        <div class="content">
                        {{template "shared/game_table" .}}
                        </div>
                </div>
        </div> 
</div> 
