{{$g := .g}}
{{$cu := .cu}}

{{range $index, $land := $g.DistantLands}}
<div id="{{$land.NameID}}">
        {{if $land.Players}}
                {{range $j, $p := $land.Players}}
                <div class="marker">
                        {{$g.DisplayBarrel $p $cu}}
                </div>
                {{end}}
        {{else}}
                {{if equal $land.Chit.Value -1 | not}}
                <img src="/images/confucius/land-chit-{{$land.Chit}}VP.jpg" alt="Land Chit {{$land.Chit}}" />
                {{end}}
        {{end}}
</div>
{{end}}

{{range $color, $ints := $g.OnVoyage $cu}}
        {{range $count := $ints }}
        <div id="{{$color}}-ship-{{$count}}">
                <img src="/images/confucius/{{$color}}-ship.png" alt="{{$color}} Ship" />
        </div>
        {{end}}
{{end}}

<div id="recruited-armies">
        <div class="content">
                {{range $index, $p := $g.Players}}
                        {{if $p.RecruitedArmies}}
                        <div id="{{$g.Color $p $cu}}-recruited-armies">
                                <img src="/images/confucius/{{$g.Color $p $cu}}-army-shadowed.png" alt="{{$g.Color $p $cu}} Army" />
                                <div class="text {{$p.TextColor}}">{{$p.RecruitedArmies}}</div>
                        </div>
                        {{end}}
                {{end}}
        </div>
</div>
<div id="emperor-avenged">
        {{with $p := .Avenger}}
        <div class="content">
                <img src="/images/confucius/emperors-reward-card-9.jpg" alt="Emperor Avenged" />
                <div id="army-box">
                        <img src="/images/confucius/{{$g.Color $p $cu}}-army-shadowed.png" alt="{{$g.Color $p $cu}} Army" />
                        <div class="text {{$p.TextColor}}">2VP</div>
                </div>
        </div>
        {{end}}
</div>
