{{$g := $.Game}}
{{$cu := $.CUser}}

<!-- Force Exam Form --> 
{{if $g.EnableForceExam $cu}}
<div class="actions" id="force-exam-action"> 
        <fieldset> 
                <legend>Force Examination</legend> 
                <div class="left-column"> 
                        <form action="/confucius/game/show/{{$g.ID}}" method="post">
                                <div style="margin:0;padding:0;display:inline">
                                        <input name="_method" type="hidden" value="PUT" />
                                        <input name="action" type="hidden" value="force-exam" />
                                </div>
                                {{$g.CoinOptions "force-exam"}}
                                <div class="button">
                                        <input class="mybutton" name="commit" type="submit" value="Force Examination" />
                                </div> 
                        </form> 
                </div> 
                <div class="right-column"> 
                        <fieldset> 
                                <legend>Action Details</legend> 
                                <ul> 
                                        <li> 
                                        Forcing an examination costs two coins.
                                        </li> 
                                </ul> 
                        </fieldset> 
                </div> 
        </fieldset> 
</div>
{{end}}
