{{$g := .g}}
{{$cu := .cu}}

{{range $key, $ministry := $g.Ministries}}
<div id="{{$ministry.Name}}">
        <div class="content">
                {{range $index, $official := $ministry.Officials}}
                <div class="ministry-box-{{$official.Seniority}}">
                        <div class="content">
                                <img src="/images/confucius/official-tile-{{$official.Variant}}-{{$official.Cost}}.jpg" alt="{{$official.Cost}} Cost Official Tile"/>
                                {{with $p := $official.Player}}
                                <div class="marker">
                                        {{if $official.Secured}}
                                        {{$g.DisplaySecuredBarrel $p $cu}}
                                        {{else}}
                                        {{$g.DisplayBarrel $p $cu}}
                                        {{end}}
                                </div>
                                {{with $tempplayer := $official.TempPlayer}}
                                {{if $p.Equal $tempplayer}}
                                {{else}}
                                <div class="temp-marker">
                                        {{$g.DisplayTempBarrel $tempplayer $cu}}
                                </div>
                                {{end}}
                                {{end}}
                                {{end}}
                        </div>
                </div>
                {{end}}
                {{with $p := $ministry.Minister}}
                <div class="minister-player">
                        <div class="marker">
                                <img src="/images/confucius/{{$g.Color $p $cu}}-barrel-shadowed.png" alt="{{$g.Color $p $cu}} Barrel" />
                        </div>
                        <div class="text {{$p.TextColor}}">
                                S
                        </div>
                </div>
                {{else}}
                <div class="minister-chit">
                        {{with $value := $ministry.MinisterChit.Value}}
                        <img src="/images/confucius/ministry-{{$value}}VP-chit.jpg" alt="{{$value}}VP Chit" />
                        {{end}}
                </div>
                {{end}}
                {{with $p := $ministry.Secretary}}
                <div class="secretary-player">
                        <div class="marker">
                                <img src="/images/confucius/{{$g.Color $p $cu}}-barrel-shadowed.png" alt="{{$g.Color $p $cu}} Barrel" />
                        </div>
                        <div class="text {{$p.TextColor}}">
                                S
                        </div>
                </div>
                {{else}}
                <div class="secretary-chit">
                        {{with $value := $ministry.SecretaryChit.Value}}
                        <img src="/images/confucius/ministry-{{$value}}VP-chit.jpg" alt="{{$value}}VP Chit" />
                        {{end}}
                </div>
                {{end}}
        </div>
</div>
{{end}}
