{{$g := $.Game}}
<!-- No Action Form -->
{{if $g.EnableNoAction $.CUser}}
<div class="actions" id="no-action-action"> 
        <fieldset> 
                <legend>No Action</legend> 
                <div class="left-column"> 
                        <form action="/confucius/game/show/{{$g.ID}}" method="post">
                                <div style="margin:0;padding:0;display:inline">
                                        <input name="_method" type="hidden" value="PUT" />
                                        <input name="action" type="hidden" value="no-action" />
                                </div> 
                                <div class="button">
                                        <input class="mybutton" name="commit" type="submit" value="No Action" />
                                </div> 
                        </form> 
                </div> 
                <div class="right-column"> 
                        <fieldset> 
                                <legend>Action Details</legend> 
                                <ul> 
                                        <li> 
                                        Do nothing.
                                        </li> 
                                        <li> 
                                        Action always costs one action cube.
                                        </li> 
                                </ul> 
                        </fieldset> 
                </div> 
        </fieldset> 
</div>
{{end}}
