<div id="player-aid"> 
        <div class="content">
                <table>
                        <tr>
                                <th colspan="3">
                                        Player Aids
                                </th>
                        </tr>
                        <tr>
                                <td>
                                        Click To View
                                </td>
                                <td>
                                        <img src="/images/confucius/player-aid-1.jpg" class="playeraid1" alt="Player Aid 1" />
                                        <div class="playeraid1" title="Player Aid 1">
                                                <img src="/images/confucius/player-aid-1.jpg" alt="Player Aid 1" />
                                        </div>
                                </td>
                                <td>
                                        <img src="/images/confucius/player-aid-2.jpg" class="playeraid2" alt="Player Aid 2" />
                                        <div class="playeraid2" title="Player Aid 2">
                                                <img src="/images/confucius/player-aid-2.jpg" alt="Player Aid 2" />
                                        </div>
                                </td>
                        </tr>
                </table>
        </div>
</div> 
