{{$g := $.Game}}
{{$cu := $.CUser}}

<!-- Status Box --> 
<div id="status-box"> 
        <div class="left-stats"> 
                <div class="content"> 
                        <div> 
                                <strong>Name:</strong> {{$g.Title}}
                        </div>
                        <div>
                                <strong>ID:</strong> {{$g.ID}}
                        </div> 
                        <div>
                                <strong>Advanced:</strong> {{if $g.BasicGame}}No{{else}}Yes{{end}}
                        </div>
                        <div>
                                <strong>Admiral Variant:</strong> {{if $g.AdmiralVariant}}Yes{{else}}No{{end}}
                        </div>
                        <div class="current-players"> 
                                <strong>{{$g.CurrentPlayerLabel}}:</strong> {{$g.CurrentPlayerLinks $cu}}
                        </div> 
                        {{if $.CUser.IsAdmin}}
                        <div>
                                <form action="/{{$g.Stub}}/game/admin/{{$g.ID}}/endround" id="end-round" method="post">
                                        <input class="mybutton" name="commit" type="submit" value="End Round" /> 
                                </form> 
                        </div>
                        {{end}}
                </div> 
        </div> 
        <div class="center-stats">
                <div class="content">
                        {{if $g.IsCurrentPlayerOrAdmin $cu}}
                        <div class="left-box">
                                <div class="content">
                                        <div>&nbsp;</div> 
                                        <form action="/{{$g.Stub}}/game/undo/{{$g.ID}}" id="undo-turn" method="post">
                                                <input class="mybutton" name="commit" type="submit" value="Undo" /> 
                                        </form> 
                                </div>
                        </div>
                        <div class="center-box">
                                <div class="content">
                                        {{template "shared/flashbox" .}}
                                </div>
                        </div>
                        <div class="right-box">
                                <div class="content">
                                        <div>&nbsp;</div> 
                                        <form action="/{{$g.Stub}}/game/finish/{{$g.ID}}" id="finish-turn" method="post">
                                                <input class="mybutton" name="commit" type="submit" value="Finish" /> 
                                        </form> 
                                </div>
                        </div>
                        {{end}}
                </div>
        </div>
        <div class="right-stats"> 
                <div class="content"> 
                        <div> 
                                <strong>Round:</strong> {{$g.Round}}
                        </div> 
                        <div> 
                                <strong>Phase:</strong> {{$g.PhaseName}}
                        </div> 
                </div> 
        </div> 
</div>
