{{$g := .g}}
{{$cu := .cu}}

{{if $g.Candidates}}
{{with $student := index $g.Candidates 0}}
<div id="candidate">
        <img src="/images/confucius/official-tile-{{$student.Variant}}-{{$student.Cost}}.jpg" alt="Official Tile" />
</div>
<div id="student-0">
        <div class="marker">
                {{with $p := $g.PlayerByID $student.PlayerID}}
                {{$g.DisplayBarrel $p $cu}}
                {{end}}
        </div>
</div>
<div class="student-0-cards" style="font-size:18px;position:absolute;top:180px;left:100px">
        Cards: {{len $student.PlayerCards}}
</div>
<div id="student-1">
        <div class="marker">
                {{with $p := $g.PlayerByID $student.OtherPlayerID}}
                {{$g.DisplayBarrel $p $cu}}
                {{end}}
        </div>
</div>
<div class="student-1-cards" style="font-size:18px;position:absolute;top:394px;left:82px">
        Cards: {{len $student.OtherPlayerCards}}
</div>
{{end}}
{{end}}
