@import 'available-actions-box';
@import 'action-forms';

#command-box {
        @extend .ui-widget;
        @extend .ui-widget-content;
        @include append-bottom(1em);
        @include column($blueprint-grid-columns, true);
        height: 22em;
        .left-column {
                @include column(8);
                fieldset {
                        height: 6em;
                        margin-bottom:1em;
                }
                @include available-actions-box;
                .explanation-box {
                        @include column(8, true);
                        @include prepend-top(1.2em);
                        .button-set {
                                margin-left:3em;
                        }
                }
        }
        .right-column {
                @include column(21, true);
                @include place-two-bosses;
                @include place-boss-and-immigrant;
                @include place-immigrant-cube;
                @include play-favor-chips;
                @include remove-immigrant;
                @include move-immigrant;
                @include slander1;
                @include slander2;
                @include lock-up-ward;
                @include assign-city-offices;
                @include take-favor-chip;
        }
}
