{{$g := $.Game}}
{{$cu := $.CUser}}
<!-- Admin Box -->
<div id="admin-box">
        <div class="left-column">
                <div class="available-actions-box">
                        <fieldset>
                                <legend>Choose A Data Set</legend>
                                <div class="first-action-set">
                                        <div class="admin-action mybutton" id="invoke-invade-phase" style="width:115px">
                                                Invoke Invade
                                        </div>
                                        <div class="admin-action mybutton" id="game-state" style="width:115px">
                                                Game State
                                        </div>
                                        <div class="admin-action mybutton" id="admin-candidate" style="width:115px">
                                                Candidate
                                        </div>
                                        {{range $index, $land := $g.ForeignLands}} 
                                        <div class="admin-action mybutton" id="admin-{{$land.Name}}" style="width:115px">
                                                {{.Name}}
                                        </div>
                                        {{range $index2, $box := $land.Boxes}}
                                        <div class="admin-action mybutton" id="admin-{{$land.Name}}-box-{{$index2}}" style="width:115px">
                                                {{$land.Name}} Box {{$index2}}
                                        </div>
                                        {{end}}
                                        {{end}}
                                        {{range $index, $actionSpace := $g.ActionSpaces}}
                                        <div class="admin-action mybutton" id="admin-{{$actionSpace.Name}}" style="width:115px">
                                                {{$actionSpace.Name}}
                                        </div>
                                        {{end}}
                                        {{range $index, $land := $g.DistantLands}}
                                        <div class="admin-action mybutton" id="admin-distant-land-{{$land.NameID | ToLower}}" style="width:115px">
                                                {{$land.Name}}
                                        </div>
                                        {{end}}
                                </div>
                                <div class="second-action-set">
                                        {{range $index, $player := $g.Players}}
                                        <div class="admin-action mybutton" id="player-{{$index}}" style="width:115px">
                                                {{$player.Name}}
                                        </div>
                                        {{end}}
                                        {{range $index, $ministry := $g.Ministries}} 
                                        <div class="admin-action mybutton" id="ministry-{{$index}}" style="width:115px">
                                                {{.Name}}
                                        </div>
                                        {{range $index2, $official := $ministry.Officials}}
                                        <div class="admin-action mybutton" id="{{$ministry.Name}}-official-{{$official.Seniority}}" style="width:115px">
                                                Official {{$official.Seniority}}
                                        </div>
                                        {{end}}
                                        {{end}}
                                </div>
                        </fieldset>
                </div>
        </div>
        <div class="right-column">
                {{template "confucius/admin/invade_phase" data "g" $g "cu" $cu}}
                {{template "confucius/admin/game_state" data "g" $g "cu" $cu}}
                {{template "confucius/admin/players" data "g" $g "cu" $cu}}
                {{template "confucius/admin/ministries" data "g" $g "cu" $cu}}
                {{template "confucius/admin/officials" data "g" $g "cu" $cu}}
                {{template "confucius/admin/candidate" data "g" $g "cu" $cu}}
                {{template "confucius/admin/foreign_lands" data "g" $g "cu" $cu}}
                {{template "confucius/admin/foreign_land_boxes" data "g" $g "cu" $cu}}
                {{template "confucius/admin/action_spaces" data "g" $g "cu" $cu}}
                {{template "confucius/admin/distant_lands" data "g" $g "cu" $cu}}
        </div>
</div>
