{{$g := $.Game}}
{{$ctx := $.Context}}

<!-- Tax Income Action Form --> 
{{if $g.EnableTaxIncome $ctx}}
<div class="actions" id="tax-income-action"> 
<fieldset> 
    <legend>Tax Income</legend> 
    <div class="left-column"> 
        <form action="/confucius/game/show/{{$g.ID}}" method="post">
            <div style="margin:0;padding:0;display:inline">
                <input name="_method" type="hidden" value="PUT" />
                <input name="action" type="hidden" value="tax-income" />
            </div>
            <div class="button">
                <input class="mybutton" name="commit" type="submit" value="Draw Cards" />
            </div> 
        </form> 
    </div> 
    <div class="right-column"> 
        <fieldset> 
            <legend>Action Details</legend> 
            <ul> 
                <li> 
                    Draw two Confucius cards.
                </li> 
            </ul> 
        </fieldset> 
    </div> 
</fieldset> 
</div> 
{{end}}
