<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
        <head>
                {{template "shared/head_meta" .}}
                {{template "shared/head_title" .}}
                {{template "shared/head_link" .}}
                <link href="/stylesheets/tammany-screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
                {{template "shared/head_script" .}}
                <script src="/javascripts/tammany.js" type="text/javascript"></script> 
        </head> 
        <body class="tammany bp"> 
                <div id="container">
                        {{template "shared/header" .}}
                        <div id="upper-content">
                                {{template "tammany/status_box" .}}
                                {{template "tammany/admin_box" .}}
                        </div> 
                        <div id="main-content">
                                {{template "tammany/board" .}}
                                {{template "tammany/player_table" .}}
                        </div>
                        <div id="lower-content">
                                <div class="left-column">
                                        {{template "shared/gamelog4" .}}
                                </div> 
                                <div class="right-column">
                                        {{template "shared/messagelog" .}}
                                </div> 
                        </div>
                        {{template "shared/footer" .}}
                </div>
        </body> 
</html>
