{{$g := $.Game}}
{{$cp := $g.CurrentPlayer}}
{{$company := $g.Merger.Company1}}
{{$ctx := $.Context}}
{{$cu := $.CUser}}
<div>
        {{template "shared/flashbox" .}}
        {{template "indonesia/gamelog3" $}}
        {{template "shared/last_actions_list3" data "g" $g "p" $cp "ctx" $ctx}}
        {{range $c := $g.Companies}}
        {{template "indonesia/player_company" data "company" $c "g" $g "cu" $cu}}
        {{end}}
</div>
{{template "indonesia/announce_merger2_dialog" $}}
