{{$g := .g}}
{{$cu := .cu}}
{{$a := .a}}

{{if $a.IsLand}}
        {{template "indonesia/land_area" data "g" $g "cu" $cu "a" $a}}
{{end}}

{{if $a.IsSea}}
        {{template "indonesia/sea_area" data "g" $g "cu" $cu "a" $a}}
{{end}}
