{{$g := $.Game}}
{{$cu := $.CUser}}

<div id="areas">
        <div class="container">
                {{range $a := $g.Areas }}
                {{template "indonesia/area" data "g" $g "cu" $cu "a" $a}}
                {{end}}
        </div>
</div>
