<!-- Board --> 
<div id="board" data-zoom="zoom-all"> 
        <!-- Board Map --> 
        <img src="/images/indonesia/indonesia-map.jpg" width="1190" height="561" border="0" id="board-image" class="clickmap" usemap="#board-image" style="z-index:1000" />
        {{template "indonesia/image_map" $}}
        {{template "indonesia/areas" $}}
        {{template "indonesia/tech_track" $}}
        {{template "indonesia/turn_track" $}}
        {{template "indonesia/default_dialog" $}}
        {{template "indonesia/available_deeds" $}}
</div>
