{{$g := $.Game}}
{{$cu := $.CUser}}
{{$cp := $g.CurrentPlayer}}
{{$company := $g.SelectedCompany}}
<div>
        {{template "shared/flashbox" .}}
        {{template "indonesia/gamelog3" $}}
        {{range $i, $city := $g.Cities}}
        {{template "indonesia/area" data "g" $g "cu" $cu "a" $city.Area}}
        {{end}}
</div>
{{template "indonesia/finish_turn_dialog" $}}
