{{$game := $.Game}}
{{$area := $game.SelectedArea}}
{{$cp := $game.CurrentPlayer}}
{{$company := $game.SelectedCompany}}
{{$area := $game.SelectedArea}}
<div>
        {{template "shared/flashbox" .}}
        {{template "indonesia/gamelog3" $}}
        {{range $i, $city := $game.Cities}}
        {{template "indonesia/area" $city.Area}}
        {{end}}
</div>
{{template "indonesia/finish_turn_dialog" $}}
