{{$game := $.Game}}
<div id="dialog" title="Create Siap Faji Company">
        <div class="dialog-content" style="width:200px">
                <p class="top-padding">
                        You must remove {{$game.SiapFajiMerger.GoodsToRemove}} rice and/or spice to create Siap Faji.
                <p>
        </div>
</div>
