{{$g := .g}}
{{$cu := .cu}}
{{$a := .a}}
{{$cp := $g.CurrentPlayer}}

<div id="area-{{$a.ID}}" >
        {{with $city := $a.City}}
                {{$color := $a.City.Color}}
                <img data-citytip="{{$a.CityTip}}" id="city-{{$a.ID}}" class="city {{if $cp.CanClickCityIn $a}}clickable{{end}}" src="/images/indonesia/{{$color}}-oval.png"/>
        {{end}}
        {{with $producer := $a.Producer}}
                {{$goods := $producer.Goods}}
                {{$id := $goods.IDString}}
                {{$color := $g.GoodsColor $a $cu}}
                <img class="goods {{$color}}-border {{if $cp.CanClickGoodsIn $a}}clickable{{end}}" id="area-{{$a.ID}}-{{$id}}" data-goodstip="{{$a.Tooltip}}" src={{if $a.Used}}"/images/indonesia/{{$id}}-back.png"{{else}}"/images/indonesia/{{$id}}.png"{{end}}/>
        {{end}}
</div>
