{{$p := .p}}
{{$cu := .cu}}

{{if $p.IsCurrentUser $cu | or $cu.IsAdmin}}
        {{$p.DisplayHand}}
{{else}}
        <div>
                <strong>Cards:</strong> {{len $p.CityCards}}
        </div>
{{end}}
