{{$p := .p}}
{{$cu := .cu}}
{{$g := .g}}

{{range $i, $slot := $p.Slots}}
<td id="company-{{$p.ID}}-{{inc $i}}" class="slot">
        {{if $slot.Developed}}
                {{if $slot.Empty}}
                        <div>Empty</div>
                {{else}}
                        {{if $cu.IsAdmin}}
                                <div id="admin-company-{{$p.ID}}-{{inc $i}}" class="mybutton bottom-padding clickable">
                                        Admin Company
                                </div>
                        {{end}}

                        {{template "indonesia/player_company" data "company" $slot.Company "g" $g "cu" $cu}}
                {{end}}
        {{else}}
                <div>Not Developed</div>
        {{end}}
</td>
{{end}}
