{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
<div id="dialog" title="Research and Development">
        <div class="dialog-content" style="width:260px">
                <p>Select row of research table to research the respective technology.</p>
        </div>
</div>
