{{$g := $.Game}}
{{$cp := $g.CurrentPlayer}}
{{$ctx := $.Context}}

<div>
        {{template "shared/flashbox" .}}
        {{template "indonesia/gamelog3" $}}
        {{template "shared/last_actions_list3" data "g" $g "p" $cp "ctx" $ctx}}
        {{template "indonesia/tech_track" $}}
        {{template "indonesia/image_map" $}}
</div>
{{template "indonesia/finish_turn_dialog" $}}
