{{$g := .g}}
{{$a := .a}}
{{$cu := .cu}}

{{$cp := $g.CurrentPlayer}}
<div id="area-{{$a.ID}}" >
        <div class="ship-box">
                {{range $index, $s := $a.Shippers}}
                        {{$type := $s.ShipType}}
                        {{$t := $type.IDString}}
                        {{$color := $g.ShipColor $s $cu}}
                        <img id="ship-{{$a.ID}}-{{$index}}" class="ship {{$color}}-border ship-{{$index}} {{if $cp.CanClickShipOf $s}}clickable{{end}}" data-shiptip="{{$s.ShipTip}}" src="/images/indonesia/{{$t}}.png"/>
                {{end}}
        </div>
</div>
