{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
<div id="dialog" title="Select Company To Operate">
        <div class="dialog-content" style="width:260px">
                <p>Select company to operate from player's table shown below the map.</p>
        </div>
</div>
