{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
{{$area := $game.SelectedArea}}
<div id="dialog" title="Play Card" data-maxHeight="650" data-minWidth="330">
        <div class="dialog-content">
                {{template "shared/flashbox" $}}
                <div id="tabs">
                        <ul>
                                <li><a href="#tabs-play-card">Play Card</a></li>
                                <li><a href="#tabs-pass">Pass</a></li>
                                <li><a href="#tabs-finish">Undo/Finish</a></li>
                                {{/*
                                {{if $cp.IsAdmin}}
                                <li><a href="#tabs-admin">Admin</a></li>
                                {{end}}
                                */}}
                        </ul>
                        {{template "indonesia/play_card_form" $}}
                        {{template "indonesia/pass_form" $}}
                        {{template "indonesia/finish_turn_form" $}}
                </div>
        </div>
</div>
