{{$g := .g}}
{{$entry := .entry}}
{{$ctx := .ctx}}
{{$p := $g.PlayerByID $entry.PlayerID}}
<div class="gamelog-entry {{if $p}}{{$p.Color}}{{else}}default{{end}}">
        <div class="header">
                {{$entry.PhaseName}}
                {{with $createdAt := $entry.CreatedAt}} @ {{Time $createdAt}} on {{Date $createdAt}} {{end}}
        </div>
        <hr/>
        <div class="action">
                {{$entry.HTML $ctx}}
        </div>
</div>
