{{$v := $.VersionID}}
<script src="/javascripts/js/jquery-1.9.1.js?{{$v}}" type="text/javascript"></script> 
<script src="/javascripts/js/jquery-ui-1.10.3.custom.js?{{$v}}" type="text/javascript"></script> 
<script src="/javascripts/js/jquery.form.js?{{$v}}" type="text/javascript"></script> 
<script src="/javascripts/js/DataTables/media/js/jquery.dataTables.js?{{$v}}" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/js/jquery.imagemapster.min.js?{{$v}}" type="text/javascript"></script>
<script src="/javascripts/application.js?{{$v}}" type="text/javascript"></script> 
