<div id="player-last-actions-list-{{$.ID}}">
        <ul>
        {{range $index, $action := $.Log}}
                <li>
                        {{$action.HTML}}
                </li>
        {{end}}
        </ul>
</div>
