<div class="content-box"> 
        <div class="content">
                <table class="myDataTable striped" data-path="json">
                        <thead>
                                <tr> 
                                        <th abbr="id">ID</th>
                                        <th abbr="type">Type</th>
                                        <th abbr="title">Title</th>
                                        <th abbr="creator">Creator</th>
                                        <th abbr="players">Players</th>
                                        <th abbr="progress">Progress</th>
                                        <th abbr="lastUpdated">Last Update</th>
                                        <th abbr="actions">Actions</th>
                                </tr>
                        </thead>
                        <tbody>
                        </tbody>
                </table>
        </div>
</div>
