{{$g := .g}}
{{$cu := .cu}}
{{$a := .a}}

<div id="{{$a.LName}}-workers">
        {{range $p := $g.Players}}
        {{with $w := $p.WorkersIn $a}}
        <div id="{{$a.LName}}-workers-{{$p.ID}}">
                <img alt="{{$g.Color $p $cu}} Worker" src="/images/atf/{{$g.Color $p $cu}}_worker.png" />
                <div class="text {{$g.TextColor $p $cu}}">{{$w}}</div>
        </div>
        {{end}}
        {{end}}
</div>
