{{$g := $.Game}}
{{$cu := $.CUser}}

{{range $i, $a := $g.Areas}}
{{if $a.IsSumer}}
{{template "atf/sumer_area" data "g" $g "cu" $cu "a" $a}}
{{end}}
{{if $a.IsNonSumer}}
{{template "atf/non_sumer_area" data "g" $g "cu" $cu "a" $a}}
{{end}}
{{if $a.IsWorkerBox}}
{{template "atf/worker_box" data "g" $g "cu" $cu "a" $a}}
{{end}}
{{end}}
