{{$g := $.Game}}
{{$cu := $.CUser}}
{{$cp := $g.CurrentPlayer}}

{{template "atf/area_dialog" .}}
<div>
        {{template "shared/flashbox" .}}
        {{template "atf/gamelog" .}}
        {{template "shared/last_actions_list" $cp}}
        {{template "atf/player_armies" data "g" $g "cu" $cu "p" $cp}}
        {{template "atf/supply_workers" $g.Players}}
        {{template "atf/player_resources" $cp}}
</div>
