{{$g := .g}}
{{$cu := .cu}}
{{$a := .a}}

<div id="{{$a.LName}}-city">
        {{with $owner := $a.City.Owner}}
        {{if $a.City.Built}}
        <img src="/images/atf/{{$g.Color $owner $cu}}_city_base.png" class="city-base" />
        {{end}}
        {{if $a.City.Expanded}}
        <img src="/images/atf/{{$g.Color $owner $cu}}_city_expansion.png" class="city-expansion" />
        {{end}}
        {{end}}
</div>
