{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
{{template "atf/area_dialog" .}}
<div>
        {{template "shared/flashbox" .}}
        {{template "atf/gamelog" .}}
        {{template "shared/last_actions_list" $cp}}
        {{template "atf/player_resources" $cp}}
        {{template "atf/equipment_track" $}}
</div>
