{{$g := $.Game}}
{{$cu := $.CUser}}
<div id="equipment-track">
        {{range $index, $empire := $g.StartedEmpires}}
        {{with $owner := $empire.Owner}}
        <div id="equipment-rating-{{$index}}">
                <img alt="{{$g.Color $owner $cu}} Disc" src="/images/atf/{{$g.Color $owner $cu}}_disc.png" />
        </div>
        <div id="equipment-resources-{{$g.Color $owner $cu}}">
                {{range $i, $count := $empire.Equipment}}
                {{$resource := $g.ResourceName $i}}
                {{range $j := ints 1 $count}}
                <img src="/images/atf/{{$resource}}.png" alt="{{$resource}}" />
                {{end}}
                {{end}}
        </div>
        {{end}}
        {{end}}
</div>
