{{$g := $.Game}}
{{$cu := $.CUser}}
<!-- Game Log -->
<div id="gamelog">
        <div class="heading">Game Log:</div> 
        <div class="content">
                {{range $index, $entry := $g.Log}}
                {{template "atf/gamelog_entry" data "g" $g "cu" $cu "entry" $entry}}
                {{end}}
        </div> 
</div> 
