{{$g := $.Game}}
{{$cu := $.CUser}}
{{$a := $g.SelectedArea}}
{{$cp := $g.CurrentPlayer}}
{{$used := $g.UsedToolMakerArea}}
<div>
        {{template "atf/area_workers" data "g" $g "cu" $cu "a" $a}}
        {{template "atf/area_workers" data "g" $g "cu" $cu "a" $used}}
        {{template "shared/flashbox" .}}
        {{template "atf/gamelog" .}}
        {{template "shared/last_actions_list" $cp}}
        {{template "atf/player_resources" $cp}}
        {{template "atf/supply_resources_update" $}}
</div>
