{{$p := .p}}
{{$g := .g}}
{{$cu := .cu}}

<div id="{{$g.Color $p $cu}}-passed-resources">
        {{if $p.Passed}}
        {{if $p.PassedResources.Value}}
        {{range $i, $count := $p.PassedResources}}
        {{$resource := $g.ResourceName $i}}
        {{range $j := ints 1 $count}}
        <img src="/images/atf/{{$resource}}.png" alt="{{$resource}}" />
        {{end}}
        {{end}}
        {{else}}
        <div id="{{$g.Color $p $cu}}-passed-marker">
                <img alt="{{$g.Color $p $cu}} Disc" src="/images/atf/{{$g.Color $p $cu}}_disc.png" />
        </div>
        {{end}}
        {{end}}
</div>
