{{$g := $.Game}}
{{$cu := $.CUser}}

<div>
{{$a1 := $g.SelectedArea}}
{{template "atf/area_workers" data "g" $g "cu" $cu "a" $a1}}
{{$a2 := index $g.Areas 3}}
{{template "atf/area_workers" data "g" $g "cu" $cu "a" $a2}}
{{template "shared/flashbox" .}}
{{template "atf/gamelog" .}}
{{template "shared/last_actions_list" $.Game.CurrentPlayer}}
</div>
