{{$g := $.Game}}
{{$cu := $.CUser}}
{{$cp := $g.CurrentPlayer}}
<div>
        {{template "shared/flashbox" .}}
        {{template "atf/gamelog" $}}
        {{template "shared/last_actions_list" $cp}}
        {{template "atf/player_workers" data "g" $g "cu" $cu "p" $cp}}
</div>
