{{with $player := .}}
<div id="player-city-expansions-{{$player.ID}}">
        <img src="/images/atf/{{$player.Color}}_city_expansion.png" alt="City Expansion" /> {{$player.Expansion}}
</div>
{{end}}
