{{$g := .g}}
{{$cu := .cu}}
{{$a := $g.SelectedArea}}
{{$cp := $g.CurrentPlayer}}
<div>
{{template "shared/flashbox" .}}
{{template "atf/gamelog" .}}
{{template "shared/last_actions_list" $cp}}
{{template "atf/player_armies" data "g" $g "cu" $cu "p" $cp}}
{{template "atf/supply_armies" data "g" $g "cu" $cu "p" $cp}}
{{if $a.IsSumer}}
{{template "atf/sumer_area" data "g" $g "cu" $cu "a" $a}}
{{else}}
{{template "atf/non_sumer_area" data "g" $g "cu" $cu "a" $a}}
{{end}}
</div>
