<div id="tabs-select-area-to-place-worker">
        <div class="dialog-content">
                <form class="myForm">
                        <p>Click on area to select area to place worker or click "To Stock" button.</p> 
                        <input name="action" type="hidden" value="to-stock" />
                        <div class="center">
                                <input type="submit" value="To Stock" class="top-padding mybutton" />
                        </div>
                </form>
        </div>
</div>
