<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w4.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
        <head>
                {{template "shared/head_meta" .}}
                {{template "shared/head_title" .}}
                {{template "shared/head_link" .}}
                <link href="/stylesheets/atf-screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
                {{template "shared/head_script" .}}
                <script src="/javascripts/atf1.js" type="text/javascript"></script> 
        </head> 
        <body class="atf bp">
                <div id="container">
                        {{template "shared/header" .}}
                        <div id="upper-content">
                                {{template "atf/status_box" .}}
                        </div> 
                        <div id="main-content">
                                {{template "atf/board" .}}
                                <div class="content-box">
                                        <div class="content">
                                                <h1>General Supply</h1>
                                                {{template "atf/supply_table" .}}
                                        </div>
                                </div>
                                <div class="content-box">
                                        <div class="content">{{template "atf/player_table" .}}</div>
                                </div>
                        </div>
                        <div id="lower-content">
                                <div class="left-column">
                                        {{template "atf/gamelog" .}}
                                </div> 
                                <div class="right-column">
                                        {{template "shared/messagelog" .}}
                                </div> 
                        </div>
                        {{template "shared/footer" .}}
                </div>
        </body>
</html>
