{{template "atf/buy_armies_dialog" .}}
<div>
        {{template "shared/flashbox" .}}
        {{template "shared/gamelog" .}}
        {{template "shared/last_actions_list" $.Game.CurrentPlayer}}
        {{template "atf/player_armies" $.Game.CurrentPlayer}}
        {{template "atf/supply_workers" $.Game.Players}}
        {{template "atf/player_resources" $.Game.CurrentPlayer}}
</div>
