{{$g := .g}}
{{$cu := .cu}}
{{$a := .a}}
<div id="{{$a.LName}}" class="area">
        {{template "atf/city" data "g" $g "cu" $cu "a" $a}}
        {{template "atf/area_armies" data "g" $g "cu" $cu "a" $a}}
</div>
