{{$player := .}}
<td>
        <div id="player-supply-armies-{{$player.ID}}">
                <img src="/images/atf/{{$player.Color}}_army.png" alt="Army" /> {{$player.ArmySupply}}
        </div>
</td>
