{{$g := .g}}
{{$cu := .cu}}
{{$p := .p}}

<td>
        <div id="worker-supply-{{$p.ID}}">
                <img src="/images/atf/{{$g.Color $p $cu}}_worker.png" alt="Worker" /> {{$p.WorkerSupply}}
        </div>
</td>
