{{$game := $.Game}}
<div id="supply-table-wood">
        <img src="/images/atf/wood.png" alt="Wood" /> {{index $game.Resources 1}}
</div>
<div id="supply-table-metal">
        <img src="/images/atf/metal.png" alt="Metal" /> {{index $game.Resources 2}}
</div>
<div id="supply-table-tool">
        <img src="/images/atf/tool.png" alt="Tool" /> {{index $game.Resources 4}}
</div>
<div id="supply-table-oil">
        <img src="/images/atf/oil.png" alt="Oil" /> {{index $game.Resources 5}}
</div>
<div id="supply-table-gold">
        <img src="/images/atf/gold.png" alt="Gold" /> {{index $game.Resources 6}}
</div>
<div id="supply-table-lapis">
        <img src="/images/atf/lapis.png" alt="Lapis" /> {{index $game.Resources 7}}
</div>
