{{$g := $.Game}}
{{$cu := $.CUser}}

<div id="turn-order">
        <div class="container">
                {{range $i, $p := $g.Players }}
                <div id="turn-order-{{$i}}">
                        <img alt="{{$g.Color $p $cu}} Disc" src="/images/atf/{{$g.Color $p $cu}}_disc.png" />
                </div>
                {{end}}
        </div>
</div>
