#turn-order {
        position:absolute;
        top:968px;
        left:625px;

        img {
                width:34px;
                height:34px;
        }

        .container {
                position:relative;
        }
}

#turn-order-0 {
        position:absolute;
        top:0px;
        left:0px;
}

#turn-order-1 {
        position:absolute;
        top:0px;
        left:45px;
}

#turn-order-2 {
        position:absolute;
        top:0px;
        left:90px;
}
