<table class="myDataTable striped" data-path="json">
        <thead>
                <tr> 
                        <th abbr="id">ID</th>
                        <th abbr="type">Type</th>
                        <th abbr="title">Title</th>
                        <th abbr="creator">Creator</th>
                        <th abbr="players">Players</th>
                        <th abbr="roundPhase">Round: Phase</th>
                        <th abbr="lastUpdated">Last Update</th>
                        <th abbr="status">Status</th>
                </tr>
        </thead>
        <tbody>
        </tbody>
</table>
