        <div><label>Performed Action:
                        <select data-bind="booleanValue: performedAction">
                                <option value="false">False</option>
                                <option value="true">True</option>
                        </select>
        </label></div>
{{/*
        <div><label>Target AreaID 0:
                        <select data-bind="foreach: ko.utils.range(-1, 46), intValue: targetAreaID0">
                                <option data-bind="text: $data"></option>
                        </select>
        </label></div>
        <div><label>Target AreaID 1:
                        <select data-bind="foreach: ko.utils.range(-1, 46), intValue: targetAreaID1">
                                <option data-bind="text: $data"></option>
                        </select>
        </label></div>
*/}}
