{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
{{$area := $game.SelectedArea}}
<div id="dialog" title="Place Armies in {{$.Game.SelectedArea.Name}}">
        {{template "atf/place_armies_form" $}}
</div>
