{{$game := $.Game}}
{{$cp := $game.CurrentPlayer}}
{{$area := $game.SelectedArea}}
{{if $cp.CanPlaceArmyIn $area | and $area.Armies}}
<div id="tabs-start-empire-warning">
        <div style="height:9em">
        <div>
                Are you sure you want to start emprire in {{$area.Name}}?
        </div>
        <div class="top-padding">
                The action cannot be undone due to presence of army in {{$area.Name}}.
        </div>
        <div>&nbsp;</div>
        <div>
                <form action="/{{$game.Stub}}/game/show/{{$game.ID}}" method="post">
                        <input name="_method" type="hidden" value="PUT" />
                        <input name="action" type="hidden" value="cancel-start-empire" />
                        <input type="submit" value="Cancel" class="mybutton" style="float:left" />
                </form>
                <form class="myForm">
                        <input name="action" type="hidden" value="confirm-start-empire" />
                        <input type="submit" value="Start" class="mybutton" style="float:right" />
                </form>
        </div>
        </div>
</div>
{{end}}
