{{$player := . }}
<td>
        <div id="worker-supply-{{$player.ID}}">
                <img src="/images/atf/{{$player.Color}}_worker.png" alt="Worker" /> {{$player.WorkerSupply}}
        </div>
</td>
